@import "../../styles/mixins";
.hero-container {
  height: calc(100vh - 100px);
  position: relative;
  @include mobile {
    overflow: hidden;
  }
  .hero-image {
    height: 100%;
    position: absolute;
    right: 23px;
    z-index: 1;
    top: 0;
    @include mobile {
      height: 38%;
      right: unset;
      top: unset;
      left: 150px;
      bottom: 0;
    }
  }
  .home-wrapper {
    max-width: 1336px;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    @include mobile {
      gap: 20px;
      align-items: center;
      justify-content: flex-start;
      margin-top: 50px;
    }
    h2 {
      font-size: 3.2rem;
      color: #663399;
      letter-spacing: 10px;
    }
    h1 {
      font-size: 80px;
      font-weight: 700;
      width: 60%;
      @include mobile {
        font-size: 30px;
        text-align: center;
      }
    }
    .hero-button {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .my-btns {
        display: flex;
        gap: 20px;

        button {
          height: 50px;
          width: 130px;
          background: transparent;
          border: solid white 1px;
          color: white;

          font-weight: 300;
          border-radius: 12px;
          cursor: pointer;
        }
      }
    }
  }
  .hero-text {
    h1 {
      font-size: 300px;
      color: rgba(255, 255, 255, 0.059);
      position: absolute;
      bottom: 0px;
      white-space: nowrap;
    }
  }
  .scroll-img {
    height: 50px;
    width: 50px;
    @include mobile {
      height: 20px;
      width: 20px;
    }
  }
}
