.side-bar {
  width: 340px;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 200px;
  z-index: 999;
  top: 0;
  height: 100vh;
  background-color: white;
  color: black;
}
.button {
  position: absolute;
  top: 27px;
  left: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.link-cont {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: auto;
  font-size: 40px;
  align-items: center;
  justify-content: center;
}
.bg {
  position: sticky;
  top: 0;
  height: auto;
}
